div.footer{

    /* height:400px; */
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.footer .developed-by{
    text-align: center;
    padding:30px;
    background-color: white;
}
.footer > .content{
    display: flex;
    justify-content: space-between;
    padding:64px;
}

.footer > .content > *{
    flex-grow: 1;
}

.footer .navigation{
    line-height: 30px;
}

.footer .contact-us{
    flex-grow: 3;
}
.footer .contact-us label{
    font-weight: 500;
    margin-bottom:16px;
}
.footer .contact-us input, .footer .contact-us textarea{
    width: 100%;
    margin-bottom:8px;
    margin-top: 8px;
    border: 0;
    border-bottom:solid 1px #C8C8C8;
    min-height:56px;
    border-radius:3px;
}

.footer .contact-us input[type=submit]{
    width: auto;
    padding:16px;
    background-color: #2A7AE4;
    color: #fff;
}